
@media (max-width: 992px) {
   
    .reverse_card{
        display: flex;
        flex-direction: column-reverse;
        
    }
  
    }
@media (max-width: 772px) {
   
    button.btn.btn-primary.btn-lg.px-4.gap-3.main_button {
        /* margin: no; */
        margin: auto;
    }
    .resp_main_images
    {
        width: 100%;

    }
    .col-10.col-sm-8.col-lg-6.resp_main_images {
        width: 100%;
    }
  
    }
@media (max-width: 760px) {
   
    footer.white.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top {
        display: flex;
        flex-direction: column;
    }
    p.col-md-4.mb-0.text-body-secondary.white {
        text-align: center !important;
        align-items: center;
        margin: auto;
    }
    
img.bi.me-2 {
    display: none;
}
ul.white.nav.col-md-4.justify-content-end {
    margin: auto;
}
  
    }