.home_hero{
    height :100vh;
    width: 100vw;
    background-image: url("background/output-onlinepngtools.png");
    background-color: rgba(0, 0, 0, 0.5);
}
.logo{
    height: 20px;
    width: 20px;
}
.main_head{
    display: flex;
}
.headers{
    display: flex;
    text-decoration: none;
    padding: 20px;
    color: rgb(255, 255, 255);
}
*{
    font-family: 'Electrolize', sans-serif;
}

#navk{
    background-color: transparent !important;
    color: white;
}
.main_section{
    height :100vh;
    width: 100vw;
    background-image: url("background/output-onlinepngtools.png");
    background-size: cover;
    color: white;
}
.nav_item{
    color: white;
    margin-left: 50px;
}
.nav-link{
    color: white;
}
ul.navbar-nav{
    margin: auto;
}
body{
    background-color: #1e1e1e !important;
}
.login-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-image:linear-gradient(0deg, rgba(197.46458172798157, 37.187494933605194, 255, 1) 0%,rgba(56.79883539676666, 30.241406857967377, 219.93750303983688, 1) 100%) ;
	opacity:0.9300000071525574;
	/* width:159px; */
	height:58px;
	border-radius:15px;
  }
  .nav-link{
    color: white !important;
}
.login-button img {
    max-width: 20px; /* Adjust as needed */
    margin-right: 5px;
  }

  .main_heading_title {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; Adjust as needed */
    text-align: justify;
    font-size: 50px;
    margin-top: 25vh;
}

.main_heading_title h1 {
    text-align: center;
    font-size: 50px;
    /* text-align: justify; */
    margin-top: -31px;
}
.subheading h3
{
    display: block;
    font-size: 20px;
    max-width: 70vw;
    margin-left: 16vw;
    text-align: center;
}
.main_button{
    box-shadow:0px 4px 27px rgba(213.94587814807892, 39.14574645459652, 229.14583772420883, 1);
	background-image:linear-gradient(0deg, rgba(197.46458172798157, 37.187494933605194, 255, 1) 0%,rgba(56.79883539676666, 30.241406857967377, 219.93750303983688, 1) 100%) ;
	width:30vw;
	height:12vh;
	border-radius:15px;
    border: none;
    color: white;
    margin-left: 35vw;
    margin-top: 5vh;
}

@media (max-width: 768px) {
    .subheading h3{
      font-size: 15px; /* Adjust font size for smaller screens */
    }
    .main_heading_title h1{
        font-size: 35px;
    }
    .main_button{
        width: 40vw;
        margin-left: 30vw;
        margin-top: 20vh;
    }
  }

  .action_page{
    height: 100vh;
    width: 100vw;
  }
  .action_heading h1{
    text-align: center;
    font-size: 40px;
    color: white;
    margin-top: 10vh ;
  }
  .action_subheading h3{
    text-align: center;
    font-size: 25px;
    color: white;
  }
  /* from here starts the analytics element */
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
margin-top: 20vh;

  }

  .rowk {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 20px; Optional: add margin between rows */
    flex-direction: row;
    font-family: sans-serif;
  }

  .boxk {
    width: 23%; /* Adjust width as needed, consider leaving some space for margins/padding */
    /* background-color: #007BFF; */
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
  font-size: 20px;
  }
 .boxk{
    border-right:1px solid whitesmoke ; /* Adjust gradient colors */
    }
    .rowk1{
       /* Adjust gradient colors */
       border-bottom:1px solid whitesmoke;
 }
 #lastbox{
    border:none;
 }
 #special{
    background-image: linear-gradient(135deg, #665dcd, #5fa4e6 44.76%, #d2ab67);
 }
 .boxk span {
    font-family: sans-serif;
    font-size: 14px;
  }
  .action_button{
    background-image:linear-gradient(0deg, rgba(102.00000151991844, 93.00000205636024, 205.00000298023224, 1) 0%,rgba(95.00000193715096, 164.00000542402267, 230.00000149011612, 1) 44.760000705718994%,rgba(210.00000268220901, 171.00000500679016, 103.0000014603138, 1) 100%) ;
	width:30vw;
	height:10vh;
	border:none;
    border-radius: 10px;
    text-align: center;
    margin-top: 10vh;
    margin-left: 35vw;
  color: white;
  }